/*---------- base css ----------*/
body {
  background: $color-bg;
  font-size: $font-size-xs;
  line-height: 1;
  position: relative;
}

h1 {
  text-align: center;
}
a {
  color: $color-link;
}
a:focus {
  outline: none;
}
/*---------- end base css ----------*/
